%h2
  Editing
  = @user

= form_for @user do |form|
  - if @user.errors.any?
    #errorExplanation
      %p The following errors prohibited this form from being saved:</h2>
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = render form
  = form.submit
